.Books {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

h2 {
    margin: 0;
    width: 100%;
    text-align: left;
    border-bottom: 1px solid lightblue;
    color: lightblue;
}

.Book {
    width: 10%;
}
